body {
  background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);

    font-family: sans-serif;
    font-size:15px;
    font-weight: bolder;
  }
  
  form {
    background: #fff;
    padding: 4em 4em 2em;
    max-width: 500px;
    margin-left:auto;
    margin-right: 90px;
    margin-top: 40px;
   
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
    
        
  }
  form h2 {
    margin: 0 0 50px 0;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: #666666;
    border-bottom: solid 1px #e5e5e5;
  }
  form p {
    margin: 0 0 2em 0;
    position: relative;
  }
 
  .right-container .set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: px;
    margin-right: 50px;
   position: relative;
  }
  .right-container input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 38px;
    min-width: 250px;
    line-height: 38px;
    
    padding-left: 5px;
    background-color:#A6A6A6;
    
    
  }::placeholder {
    color: rgb(255, 243, 243);
    opacity: 1; /* Firefox */
  }

  .right-container input, .right-container label {
    color: rgba(0, 0, 0, 0.8);
  }
  
  .right-container label, .right-container input, .right-container {
    width:10 px;
  }
 

  .name label .breed label .birthday label
  {
    display: block;
    margin-bottom: 5px;
  }
  
  